.userListings {
    display: flex;
    width: 90vw;
    border: solid 2px rgb(22, 102, 197);
    margin: .5rem;
    padding: .5rem;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: white;
    border-radius: 2vmin;
}
