.UserEducationItem {
    border: 2px solid red;
    padding: .25rem;
    margin: .25rem;
}

.school {
    margin: .25rem;
    padding: .25rem;
    border: solid 1px white;
}

.degree {
    margin: .25rem;
    padding: .25rem;
    border: solid 1px white;
}

.fieldOfStudy {
    margin: .25rem;
    padding: .25rem;
    border: solid 1px white;
}

.startDate {
    margin: .25rem;
    padding: .25rem;
    border: solid 1px white;
}

.endDate {
    margin: .25rem;
    padding: .25rem;
    border: solid 1px white;
}
