.UserExperienceItem {
    border: solid 1px blue;
    padding: .5rem;
    margin: .5rem;
}

.title {
    margin: .25rem;
    padding: .25rem;
    border: solid 1px white;
}

.company {
    margin: .25rem;
    padding: .25rem;
    border: solid 1px white;
}

.location {
    margin: .25rem;
    padding: .25rem;
    border: solid 1px white;
}

.startDate {
    margin: .25rem;
    padding: .25rem;
    border: solid 1px white;
}

.endDate {
    margin: .25rem;
    padding: .25rem;
    border: solid 1px white;
}

.description {
    margin: .25rem;
    padding: .25rem;
    border: solid 1px white;
}
