.UserSkillsItem {
    border: solid 2px purple;
    margin: .25rem;
    padding: .25rem;
}

.name {
    margin: .25rem;
    padding: .25rem;
    border: solid 1px white;
}


.endorsements {
    margin: .25rem;
    padding: .25rem;
    border: solid 1px white;
}
