.searchData {
    border: solid 2px white;
}

.search {
    border: solid 2px red;
    width: 150px;
    height: 40px;
    font-size: 16pt;
    color: white;
}

.searchedUsers {
    border: solid 2px red;
    color: white;
}
