.NavBar {
    width: 95%;
    text-decoration: none;
    margin-right: 30px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080710;
    z-index: 1;
}

.logo {
    display: flex;
    margin-left: 15px;

}

.NavButton {
    width: 100px;
    font-size: 24pt;
    text-decoration: none;
    font-size: large;
    color: white;
    margin-right: 10px;
}

.navButtons {
    width: 100%;
    margin: .25rem;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
}
