.NavBar {
    border: solid 2px red;
    width: 90%;
    text-decoration: none;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    margin: left;

}

.NavButton {
    width: 100px;
    font-size: 24pt;
}

.navButtons {
    margin: .25rem;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.logout {
    margin-bottom: 2rem;
}
