.userItemCard {
border: solid 2px black;
background-color: rgb(22, 102, 197);
margin: .5rem;
padding: .5rem;
width: 200px;
border-radius: 1vmin;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
border-radius: 1vmin;
}
.userItemCard:hover {
    cursor: pointer;
}

.userItemPic {
    width: fit-content;
}

.userItem {
    font-size: 18pt;
    border: solid 1px white;
    padding: .5rem;
    overflow-x: scroll;
    color: black;
    border-radius: 1vmin;
}

.userItemPicFile {
    width: 100px;
    border-radius: 50%;
}

.userData {
    font-size: 14pt;
    background-color: white;
    color: black;
    border: solid 2px red;
}

.userEmail {
    font-size: 14pt;
}
