.ProDetails {
    width: 50%;
    padding: 1rem;
    background-color: rgb(22, 102, 197);
    border-radius: 2vmin;
    margin-left: 10rem;
}

.experienceContainer {
    margin: .5rem;
    padding: .5rem;
    border: solid 1px white;
    background-color: lightgray;
    border-radius: 1vmin;
}

.educationContainer {
    margin: .5 rem;
    padding: .5rem;
    border: solid 1px white;
    background-color: lightgray;
    border-radius: 1vmin;
}

.skillsContainer {
    margin: .5rem;
    padding: .5rem;
}

