@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");


.conatainer {
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 30px;
}

.card {
    background: #000622;
    border-radius: 4px;
    max-width: 600px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 25px;
    margin-left: 20px;
}

h2 {
    margin: 0;
    
}
.formatContainer {
    background-color: rgb(22, 102, 197);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    border: solid 2px white;
    align-items: center;
    margin: 1rem;
    border-radius: 2vmin;
}


.title {
    color: rgb(63, 92, 142);
    font-weight: bold;
    font-size: 12px;
}

.desc {
    
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.prophoto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 6px solid white;
    z-index: 300;
}


.imgavatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 15px;
    z-index: 300;
}


.titletotal {
    padding: 2.5em 1.5em 1.5em 1.5em;
}

.sidebar {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #001d4e;
    margin-left: -80px;
}

.editBtn {
    background: #1b476f;
    border: 1px solid #7f7f7f;
    width: 150px;
    border-radius: 6px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.editBtn:hover {
    background-color: #000f2f;
}