.AboutMe {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cover {
    border: solid 2px red;
    margin: 0 auto;
    display: flex;
    width: 90%;
    height: 200px;
    img {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        object-fit: cover; /* this alters cover pic. Need to examine further when able. */
    }
}

.profilePicture {
    border-radius: 50%;
}
.proPicContainer  {
    border: solid 3px purple;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    margin: 0 auto;
    object-fit: contain;
}

.content {
    margin-top: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px yellow;
    text-align: left;
}
